<!-- <p>tut42 Template-Driven Form 02</p>

<div class="container">
    <div class="row">
        <div class="form-bg">
            <form #regForm="ngForm" (ngSubmit)="register(regForm)">
                <h2 class="text-center">Registeration Page</h2>
                <br>
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" name="firstName" ngModel>
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" name="firstName" ngModel>
                </div>
                
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" name="firstName" ngModel>
                </div>
            </form>

        </div>

    </div>

</div>





 -->
