<p>tut36 Pipes</p>
<h1 [style.color]="color" [style.backgroundColor]="bgColor">{{today | date}}</h1>
<button (click)="updateColor()">Update Date color</button>
<h1>{{title | uppercase}}</h1>
<h1>{{title | slice : 3 : 6 | uppercase}}</h1>
<h2>{{user | json |slice:6 | uppercase}}</h2>

<p>{{000000000002000.3000 | number : '8.5-9'}} : in this syntax 8 is the least number of characters before decimal and 
    5 is the minimum number of characters after decimal and maximum upto 9
</p>

<h2>{{20 | currency:'INR'}}</h2>


<h1>{{20 | tutp01:275}}</h1>




