<p>tut13 Basic styling for component </p>
<style>
    .inline{
        color:aqua;
    }
</style>
<h1 class="glob">1. Global Styling:  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laborum commodi illum</h1>
<h1 class="comp">2. Component CSS File:  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laborum commodi illum</h1>
<h1 class="inline" style="color:blue">3. Inline Styling:  Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit laborum commodi illum</h1>
